*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div{
  width: 100%;
  height: 100vh;
  background-color: skyblue;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.inner_div{
  width: 18%;
  height: 60vh;
  background-color: whitesmoke;
  border-radius: 10px;  
  
  
  
}
h1{
  color: white;
  text-transform: capitalize;
  background-color: purple;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
input{
  text-align: center;
  border: none;
  height: 30px;
  top: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid lightcoral;
  outline: none;
  
}
button{
  height: 30px;
  width: 30px;
  background-color: purple;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;

}
button:hover{
  background-color: green;
}
.input_button{
  align-items: center;
  justify-content: center;
  display: flex;
}
ol{
  margin-top: 30px;

}
ol li{
  padding-left: 0px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: blueviolet;
  text-transform: capitalize;

}
.list_style{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}
.list_style .fa-times{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0, 0.3) ;
}
.list_style .fa-times:hover{
  background-color: red;
}
@media only screen and (min-width: 600px) {
  .inner_div{
    width: 60%;
  } 

}
@media only screen and (max-width: 600px) {
  .inner_div{
    width: 40%;
  } 
}

@media only screen and (min-width: 768px){
  .inner_div{
    width: 28%;
  }
}

@media only screen and (min-width: 992px) {
  .inner_div{
    width: 23%;
  } 

}
@media only screen and (min-width: 1200px) {
  .inner_div{
    width: 20%;
  }
} 